.cm-editor {
  height: 100% !important;
}

.cm-theme {
  height: 100% !important;
}

.cm-content[contenteditable="true"] {
  -webkit-user-modify: read-only !important;
}

.cm-line {
  -webkit-user-modify: read-only !important;
  pointer-events: none !important;
  user-select: none !important;
}

.cm-content {
  pointer-events: none !important;
  user-select: none !important;
}

/* TODO : find real solutiom */
.no-interaction {
  pointer-events: none !important; /* Prevent all interactions */
  user-select: none !important; /* Prevent text selection */
}
