input[type="checkbox"] {
  outline: 1px solid #607b96;
  background-color: transparent !important;
  accent-color: transparent;
}

input:checked {
  outline: 1px solid #607b96;
  background: transparent;
  accent-color: #607b96;
}

/* .projects-content {
  overflow-y: auto;
} */

.maintain-size {
  overflow-y: auto;
  overflow-x: hidden;
}

.card-content {
  width: 0px;
  overflow-y: auto;
  /* overflow: hidden; */
}
