.hamburger-menu-toggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 3;
  user-select: none;
}

.hamburger-menu-toggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.hamburger-menu-toggle a:hover {
  color: tomato;
}

.hamburger-menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
  -webkit-touch-callout: none;
}

.hamburger-menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 2;
}

.hamburger-menu li {
  padding: 10px 0;
  font-size: 22px;
}

.hamburger-menu-toggle input:checked ~ .hamburger-menu {
  transform: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 1;
  transition: opacity 0.5s;
  opacity: 0;
}

.hamburger-menu-toggle input:checked ~ .overlay {
  opacity: 1;
}
